{% extends 'layouts/index.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1>{{ title }}<h1>

<img src='{{ qr_url }}'/>
<br/>
<a href="{{ url }}">{{ url }}</a>
{% endblock %}
