{% extends 'layouts/index.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1>{{ q.pos }}</h1>
<div id="rating_form">
{% for field in form %}
  <div class="fieldWrapper">
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
{% endfor %}
</div>

{% endblock %}
